* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(246, 246, 246);
  box-shadow: 8px 16px 50px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 5px;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.form-control label {
  display: block;
}
.wrapper {
  padding-top: 20px;
}

.form-control input {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.select {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  margin-left: 129px;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check input {
  height: 20px;
  margin-right: 602px;
}

.btn-wrapper {
  display: flex;
  margin-left: 180px;
}

.btn1 {
  display: inline-block;
  background: rgb(20, 40, 71);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  height: 50px;
}

.btn1-block {
  display: block;
  width: 20%;
}

.btn {
  display: inline-block;
  background: rgb(218, 65, 65);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-block {
  width: 20%;
}

.table {
  background: #f4f4f4;
  margin: 30px 0;
  padding: 10px 20px;
  cursor: pointer;
}

.table.status {
  border-left: 5px solid green;
}

.table p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-edit {
  background: green;
}
